<!DOCTYPE html>
<html>
<head>
    <title>Proyecto - Login</title>
    @Styles.Render("~/Content/plugins")
    @Styles.Render("~/css/bitworkstyles")
    @Styles.Render("~/Content/css")
</head>
<body>

@RenderBody()

@Scripts.Render("~/bundles/Layaot")
    @Scripts.Render("~/bundles/Plugins")
    @Scripts.Render("~/bundles/jqval")

    @Scripts.Render("~/bundles/bitlibs")
</body>
</html>       