@model TiendaEnLinea.Core.Model.Pedido
@{
    ViewBag.Title = "Detalle";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <h2>Detalle de pedido</h2>

    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        @if (Model.IdEstado == TiendaEnLinea.Core.Model.EstadoPedido.Enviado)
        {
            <a href="@Url.Action("Preparacion",new { id = Model.Codigo })" class="btn btn-primary btn-sm">
                <i class="fa fa-cogs text-white">
                </i> Preparar
            </a>
        }


        @if (Model.IdEstado == TiendaEnLinea.Core.Model.EstadoPedido.Preparado)
        {
            <button class="btn btn-primary" data-toggle="modal" data-target="#entregar">
                <i class="fa fa-check"></i>
                Entregado
            </button>
        }


        @if (Model.IdEstado != TiendaEnLinea.Core.Model.EstadoPedido.Entregado && Model.IdEstado != TiendaEnLinea.Core.Model.EstadoPedido.NoEntregado)
        {
            <a href="@Url.Action("Cancelar",new { id = Model.Codigo })" class="btn btn-primary btn-sm cancelar">
                <i class="fa fa-minus-circle text-white">
                </i> Cancelar
            </a>
        }


    </div>
</div>

<div class="wrapper wrapper-content">



    <form class="form-horizontal">


        <div class="form-group">
            <label class="col-lg-2 control-label">Cliente</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">

                        <input class="form-control" value="@Model.Cliente.NombreCompleto" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Teléfono cliente</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">


                        <input class="form-control" value="@Model.Cliente.Codigo" readonly />
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-lg-2 control-label">Dirección</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">


                        <input class="form-control" value="@Model.Cliente.Direccion" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Fecha de ingreso</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">


                        <input class="form-control" value="@Model.FechaIngreso.ToString("dd/MM/yyyy hh:mm:ss tt")" readonly />

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Estado</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">


                        <input class="form-control" value="@GetNombreEstado(Model.IdEstado)" readonly />
                    </div>
                </div>
            </div>
        </div>




        @if (Model.FechaEntregado != null)
        {
            <div class="form-group">
                <label class="col-lg-2 control-label">Fecha entregado</label>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-4">



                            <input class="form-control" value="@Model.FechaEntregado.Value.ToString("dd/MM/yyyy hh:mm:ss")" readonly />


                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.FechaCompletado != null)
        {
            <div class="form-group">
                <label class="col-lg-2 control-label">Fecha enviado por cliente</label>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-4">



                            <input class="form-control" value="@Model.FechaCompletado.Value.ToString("dd/MM/yyyy hh:mm:ss")" readonly />


                        </div>
                    </div>
                </div>
            </div>

        }

        <div class="form-group">
            <label class="col-lg-2 control-label">Cantidad productos</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">


                        <input class="form-control" value="@Model.ProductosPedidos.Count()" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Comentario cliente</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">


                        <input class="form-control" value="@Model.Comentario" readonly />
                    </div>
                </div>
            </div>
        </div>

    </form>

    <hr />
    <br />

    <div class="row">



        <table class="table">
            ​<!-- Encabezado de la tabla -->

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th data-hide="phone,tablet">Cantidad</th>
                    <th data-hide="phone,tablet">Sub Total</th>
                    <th></th>
                </tr>
            </thead>
            ​<!-- -->
            ​<!-- Cuerpo de la tabla -->
            <tbody>
                @foreach (var item in Model.ProductosPedidos)
                {

                    <tr>
                        <td>@item.Producto.Nombre</td>
                        <td>
                            @if (item.Producto.PrecioOferta != null)
                            {
                                @item.Producto.PrecioOferta.Value.ToString("$0.00")
                            }
                            else
                            {
                                @item.Producto.Precio.ToString("$0.00")
                            }

                        </td>
                        <td>@string.Format("{0:0.##}", item.Cantidad)</td>
                        <td>@item.SubTotal.ToString("$0.00")</td>
                        <td></td>
                    </tr>
                }
                <tr style="border-top:solid 3px;">
                    <td colspan="2"></td>
                    <td><b>TOTAL</b></td>
                    <td>
                        <b>


                            @if (Model.Total != null)
                            {
                                @Model.Total.Value.ToString("$0.00")
                            }
                            else
                            {
                                @("$0.00")
                            }


                        </b>
                    </td>
                    <td></td>
                </tr>

            </tbody>

        </table>

    </div>

</div>


<div class="modal inmodal fade" id="entregar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Pedido de @Model.Cliente.NombreCompleto</h4>

            </div>
            <div class="modal-body">
                <form id="frm@(Model.Codigo)" method="post" action="@Url.Action("Entregado")">
                    <input type="hidden" value="@Model.Codigo" name="id" />
                    <input type="hidden" value="Detalle" name="accion"/>
                    <div class="form-group">
                        <input type="text" name="comentario" placeholder="Comentario" class="form-control">
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                <button type="button" data-frm="frm@(Model.Codigo)" class="btn btn-primary submitfrm">Entregado</button>
            </div>
        </div>
    </div>
</div>

@helper  GetNombreEstado(TiendaEnLinea.Core.Model.EstadoPedido idEstado)
{

    switch (idEstado)
    {
        case TiendaEnLinea.Core.Model.EstadoPedido.Abierto:
            @("Incompleto")
            break;
        case TiendaEnLinea.Core.Model.EstadoPedido.Entregado:
            @("Entregado")
            break;
        case TiendaEnLinea.Core.Model.EstadoPedido.Enviado:
            @("Pendiente de preparar")
            break;
        case TiendaEnLinea.Core.Model.EstadoPedido.NoEntregado:
            @("Cancelado")
            break;
        case TiendaEnLinea.Core.Model.EstadoPedido.Preparado:
            @("Pendiente de entrega")
            break;

    }

}

@section scripts{
    <script type="text/javascript">


        $(document).on("click", ".cancelar", function (e) {
            e.preventDefault();

            var url = $(this).attr("href");

            swal({
                title: "¿Está seguro?",
                text: "Deseas marcar el pedido como cancelado",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sí!",
                closeOnConfirm: false
            }, function () {
                Bitworks.Ventanas.mostrarLoading();
                window.location.href = url;
            });

        });


        $(document).on("click", ".submitfrm", function () {

            Bitworks.Ventanas.mostrarLoading();
            var form = $("#" + $(this).data("frm"));
            form.submit();

        });

    </script>
}