@model TiendaEnLinea.Core.DTOs.Producto.DetalleProductoDTO
@{
    ViewBag.Title = "Detalle";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <h2>Detalle de producto</h2>

    </div>
</div>

<div class="wrapper wrapper-content">



    <form class="form-horizontal" action="@Url.Action("Detalle","Producto")" method="post">

        @Html.ValidationSummary()
        @Html.HiddenFor(x => x.Codigo)

        <div class="form-group">
            <label class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">

                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", placeholder = "Nombre" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Descripción</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">

                        @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control", placeholder = "Descripción" })

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Precio</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">

                        @Html.TextBoxFor(x => x.Precio, new { @class = "form-control", placeholder = "Precio", type = "number", min = "0" })

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Precio en oferta</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">

                        @Html.TextBoxFor(x => x.PrecioOferta, new { @class = "form-control", placeholder = "Precio en oferta", type = "number", min = "0" })

                    </div>
                </div>
            </div>
        </div>





        <div class="form-group">
            <label class="col-lg-2 control-label">Multiplo de venta</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">

                        @Html.TextBoxFor(x => x.MultiploVenta, new { @class = "form-control", placeholder = "Multiplo venta", type = "number", step = "0.5", min = "0.5" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Prefijo venta</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">

                        <select class="form-control" name="PrefijoVenta">
                            @foreach (string it in new List<string>() { "Libra", "Unidad", "Dolar" })
                            {
                                if (it == Model.PrefijoVenta)
                                {
                                    <option value="@it" selected>@it</option>
                                }
                                else
                                {
                                    <option value="@it">@it</option>
                                }
                            }

                        </select>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">¿Producto activo?</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">

                        @Html.CheckBoxFor(x => x.Activo, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">¿Destacar producto?</label>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">

                        @Html.CheckBoxFor(x => x.Destacado, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>


    @if(Model.Codigo != null) { 
        <br />
        <hr />
        <br />

        <form class="form-horizontal" action="@Url.Action("GuardarImagen","Producto")" method="post" enctype="multipart/form-data">

            @Html.ValidationSummary()

            <input type="hidden" name="IdProducto" value="@Model.Codigo" />
            @Html.TextBoxFor(x => x.Foto.Name, new { style = "visibility:hidden" })


            <div class="form-group">
                <label class="col-lg-2 control-label">Imagen producto</label>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-4">

                            <input id="control-file" type="file" name="File" />
                        </div>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </div>
        </form>


        <br />
        <hr />
        <br />
    }

    @if (Model.Multimedias != null)
    {       

        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>

            @foreach (var imagen in Model.Multimedias)
            {

                <tr>
                    <td>
                        <img style="width:100%" src="@Url.Action("GetMultimediaConLlave", "Producto", new { id = imagen.IdMultimedia })" />
                    </td>
                    <td>
                        <a class="btn btn-white btn-bitbucket" href="@Url.Action("EliminarImagen", new { id = imagen.Codigo, idProducto = Model.Codigo })">
                            <i class="fa fa-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>

            }
        </table>

    }





</div>

@section scripts{
    <script type="text/javascript">

        $(document).on("change", "#control-file", function () {

            $("#Foto_Name").val($("#control-file").val());
        });
    </script>
}