@model List<TiendaEnLinea.Core.DTOs.ProductoPublico.ProductoCatalogoDTO>

@{
    ViewBag.Title = "Home Page";
}

<style>
    .input2 input {
        text-align: center;
        width: 45%;
        height: 28px;
        color: #456D33;
        font-size:15px;
        font-weight:bolder;

    }

    .input2 button {
        width: 25%;
        height: 28px;
        color: #456D33;
    }

    .input2{
        width:100%;
        margin-bottom:4px;
    }
</style>

<div class="main-content">
	
	

	<div class="wrap container-fluid mb-3">
        <div class="row align-items-end py-4 pb-lg-5">
            <div class="col-lg-auto col-xl-5 text-primary">
                <h2 class="tt-main"><span class="st text-secondary">Catálogo</span> <span class="tt">de productos</span></h2>
            </div>
            <div class="col-lg col-xl-7">
                <div class="row filtros no-gutters pt-3 pt-lg-0">
                  
                    <div class="col-md-auto f-col">
                        <a href="@Url.Action("Carretilla")" style="font-size:24px" class="btn btn-secondary text-uppercase btn-block py-2 shadow">Ver mi pedido</a>
                    </div>
                </div>
            </div>

        </div>
		
        <div class="row listado-productos variante-st1">

            @if (Model != null)
            {

                foreach (var prod in Model)
                {
                    string url = Url.Action("GetMedia", new { id = prod.Fotos.FirstOrDefault() });

                    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-4">
                        <div class="item-producto">
                            <figure style="background-image: url(@url)">
                                <a href="detalle.html"><img src="@Url.Action("GetMedia",new{ id = prod.Fotos.FirstOrDefault() })" alt=""></a>
                            </figure>
                            <div class="pcontent">
                                <div class="info" style="height:110px;">
                                    <h3><a href="detalle.html">@prod.Nombre</a></h3>
                                    <div class="precios">
                                        <div class="left">
                                            <strong class="antes">@prod.Precio.ToString("$0.00")</strong>
                                            <span class="tsm texto2">@prod.PrefijoVenta</span>
                                        </div>
                                        @if(prod.PrecioOferta  != null) {
                                            <div class="ppal">
                                                <strong>@prod.PrecioOferta.Value.ToString("$0.00")</strong>
                                                <span class="tsm texto1"><span class="text-secondary">re</span>-bajado</span>
                                            </div>
                                        }
                                    </div>
                                    <p class="desc">@prod.Descripcion</p>
                                </div>
                                <div class="agregar">
                                    <div class="add-box">
                                        <div class="input2">
                                            <button class="ctrl down btnmenos" data-caja="@("nor-")@prod.Codigo" data-step="@prod.MultiploVenta"><i class="icon-menos"></i></button>
                                            <input type="text" id="@("nor-")@prod.Codigo" value="@string.Format("{0:0.##}", prod.MultiploVenta)">
                                            <button class="ctrl up btnmas" data-caja="@("nor-")@prod.Codigo" data-step="@prod.MultiploVenta"><i class="icon-mas"></i></button>
                                        </div>
                                        <button data-producto="@prod.Codigo" data-caja="@("nor-")@prod.Codigo" class="add-cart agregarbtn">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            }         
        </div>
		
		
		
		
	</div>
	
	
	<div class="lista-recomendados pt-2 mb-4 mb-md-5">
			<div class="bg-secondary text-white">
				<div class="wrap container-fluid py-4">
					<div class="row align-items-end">
						<div class="col-md">
							<h2 class="tt-main"><span class="st">Promociones</span> <span class="tt">Re-comendadas</span></h2>
						</div>
						<div class="col-auto pt-3 pt-md-0">
							<div class="sldr-tools sldr-promo-tools">
								<a href="" class="btn-grid text-white"><i class="icon-grid"></i></a>
								<div class="sldr-arrows text-white ml-2">
									<a href="" class="sldr-arrow prev" id="prevSldrPromos"><i class="icon-arrow-left"></i></a>
									<a href="" class="sldr-arrow next" id="nextSldrPromos"><i class="icon-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-st1 slider-promos mb-4">
				<div class="wrap container-fluid inner">
					<div class="sldr-wrap">
                        <div class="slider">

                            @if (Model != null && Model.Count(x => x.Destacado == true) > 0)
                            {
                                foreach (var dest in Model.Where(x => x.Destacado).ToList())
                                {
                                    string url = Url.Action("GetMedia", new { id = dest.Fotos.FirstOrDefault() });

                                    <div class="item">
                                        <div class="item-producto">
                                            <figure style="background-image: url(@url)">
                                                <a href="detalle.html"><img src="@Url.Action("GetMedia",new{ id = dest.Fotos.FirstOrDefault() })" alt=""></a>
                                            </figure>
                                            <div class="pcontent">
                                                <div class="info" style="height:110px;">
                                                    <h3><a href="detalle.html">@dest.Nombre</a></h3>
                                                    <div class="precios">
                                                        <div class="left">
                                                            <strong class="antes">@dest.Precio.ToString("$0.00")</strong>
                                                            <span class="tsm texto2">@dest.PrefijoVenta </span>
                                                        </div>
                                                        @if (dest.PrecioOferta != null)
                                                        {
                                                            <div class="ppal">
                                                                <strong>@dest.PrecioOferta.Value.ToString("$0.00")</strong>
                                                                <span class="tsm texto1"><span class="text-secondary">re</span>bajado</span>
                                                            </div>

                                                        }

                                                    </div>
                                                    <p class="desc">@dest.Descripcion</p>
                                                </div>
                                                <div class="agregar">
                                                    <div class="add-box">
                                                        <div class="input2">
                                                            <button class="ctrl down btnmenos" data-caja="@("des-")@dest.Codigo" data-step="@dest.MultiploVenta"><i class="icon-menos"></i></button>
                                                            <input id="@("des-")@dest.Codigo" type="text" value="@string.Format("{0:0.##}", dest.MultiploVenta)">
                                                            <button class="ctrl up btnmas" data-caja="@("des-")@dest.Codigo" data-step="@dest.MultiploVenta"><i class="icon-mas"></i></button>
                                                        </div>
                                                        <button data-producto="@dest.Codigo" data-caja="@("des-")@dest.Codigo" class="add-cart agregarbtn">Agregar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }




                        </div>
					</div>
					
				</div>
			</div>
			
	</div>
	
		
</div>


@section scripts{
<script type="text/javascript">



   
    $(document).on("click", ".btnmenos", function () {
        var caja = $(this).data("caja");
        var step = 0;
        step = $(this).data("step") * 1;

        var textbox = $("#" + caja);

        if (isNumber(textbox.val()) === false) {
            textbox.val(step);
        }

        textbox.val(function (i, val) {
            var aux = 0.00;
            aux = val * 1;


            if (aux % step !== 0) {
                aux = aux - (aux % step);
            } else {
                aux = aux - step;
            }
          
            if (aux < step)
                aux = step * 1;
           
            return aux;
        });


    });

    $(document).on("click", ".btnmas", function () {
        var caja = $(this).data("caja");
        var textbox = $("#" + caja);

        var step = 0;
        step = $(this).data("step") * 1;

        if (isNumber(textbox.val()) === false) {
            textbox.val(step);
        }

        textbox.val(function (i, val) {
            var aux = 0.00;
            aux = val * 1;

            if (aux % step !== 0) {
                aux = aux + step - (aux % step);
            } else {
                aux = aux + step;
            }
            
            if (aux < step)
                aux = step * 1;

            return aux;
        });
    });




    $(document).on("click", ".agregarbtn", function () {

        var button = $(this);
        var caja = $(this).data("caja");
        var cantidad = $("#" + caja).val();

        if (isNumber(cantidad) === false) {
            Swal.fire('Espera!', 'Cantidad invalida', 'warning');
            return;
        }
    
        var url = $("#endpoints").data("agregar");
        var producto = $(this).data("producto");

        var payload = { "IdProducto": producto, "Cantidad": cantidad };

        button.prop("disabled", true);
        Swal.showLoading();
        peticionAjaxPost(url, payload,button);

    });

   

    function peticionAjaxPost(url,data,button) {

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: "json",
            success: function (data) {

                button.prop("disabled", false);
                Swal.hideLoading();
                Swal.fire(data.titulo, data.mensaje, data.tipo);
                
            },
            error: function (error) {
                console.log("Error:"+error);
            }
        });
    }
   

    function isNumber(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

</script>    
}